<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Management App</title>
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link rel="stylesheet" type="text/css" href="my-app.css">

</head>

<body>
    <main class="TodoMain">
        <article>

            <h1 class="TodoPage-title">My Todo-list</h1>

            <section class="TodoSection">
                <h2 class="TodoSection-title">Due Today</h2>
                <p class="TodoSection-todo">Submit SaaS 201 project</p>
                <p class="TodoSection-todo">Call accountant</p>
            </section>

            <section class="TodoSection">
                <h2 class="TodoSection-title">Due Tomorrow</h2>
                <p class="TodoSection-todo">Submit SaaS 201 project</p>
                <p class="TodoSection-todo">Buy groceris</p>
            </section>
        </article>
    </main>

</body>

</html>





<section class="Todos">
    <div class="Todos__due">
        <p class="TodoDue__title"><b>Due Tomorrow</b></p>
        <p class="TodoDue__remaining">
            <%</p>
    </div>
    <ul class="TodoList">
        <li class="TodoList__todos">
            <input type="checkbox" class="TodoList__checkbox">
            <p class="TodoList__todos-text">Type something</p>
            <img src="bin.png" class="TodoList__todos-remove">
        </li>
        <li class="TodoList__todos">
            <input type="checkbox" class="TodoList__checkbox">
            <p class="TodoList__todos-text">Type something</p>
            <img src="bin.png" class="TodoList__todos-remove">
        </li>
    </ul>

</section>